:root {
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f7f8fa;
}

.h1 {
  font-weight: 800;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.cantidad {
  width: 50%;
  font-size: 1.4rem;
  font-weight: 600;
}

.cantidad:focus {
  box-shadow: none !important;
}

.counter {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
}

.boton {
  border-radius: 1.5rem;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  z-index: 1;
}

.form-control-lg {
  border-radius: 0.2rem;
  padding: 1rem;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #dc3545;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
}

.btn-principal {
  border-radius: 1.8rem !important;
}

.bg-pedido {
  background-color: #ea868f;
}

.mb-6 {
  margin-bottom: 8rem;
}

.precio {
  line-height: 1.4rem;
  font-size: 2rem;
}

.carita {
  font-size: 4rem;
  margin-top: 5rem;
}
