body {
  font-family: "Montserrat", sans-serif;
  background-color: #f7f8fa;
}

.h1 {
  font-weight: 800;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.cantidad {
  width: 50%;
  font-size: 1.4rem;
  font-weight: 600;
}

.cantidad:focus {
  box-shadow: none !important;
}

.counter {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
}

.boton {
  border-radius: 1.5rem;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  z-index: 1;
}

.form-control-lg {
  border-radius: 0.2rem;
  padding: 1rem;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #dc3545;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
}

.form-control[readonly] {
  background-color: transparent;
}
.btn-principal {
  border-radius: 1.8rem !important;
}

.bg-pedido {
  background-color: #ea868f;
}

.mb-6 {
  margin-bottom: 8rem;
}

.precio {
  line-height: 1.4rem;
  font-size: 2rem;
}

.carita {
  font-size: 3rem;
  margin-top: 4rem;
}

.pedido-total {
  position: fixed;
  right: 0;
  bottom: calc(112px + 0.75rem);
  left: 0;
  max-height: 75%;
  z-index: 1030;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  border: none;
}

.btn-pedido {
  color: #6c757d;
  background-color: #f8f9fa;
  border-radius: 50%;
  font-size: 1rem;
  padding: 0.5rem;
  width: 40px;
  height: 40px;
  border: none;
  margin-left: 1rem;
}

.btn-pedido:hover {
  color: #dc3545;
}

.btn-pedido:focus {
  outline: 0;
  background-color: #dc3545;
  box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
  color: white;
}

.nombre-pedido {
  line-height: 1rem;
  font-size: 1.2rem;
  margin-bottom: 0;
}

.w-70 {
  width: 70% !important;
}

.fondo {
  z-index: 1029;
  position: fixed;
  right: 0;
  bottom: 112px;
  left: 0;
  background-color: rgba(33, 37, 41, 0.6);
}

.logo {
  height: 4rem;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.logo-grande {
  height: 7rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.text-claro {
  color: #e2e2e2;
}

@media (min-width: 576px) {
  .counter {
    width: 50%;
    margin-right: 1.4rem;
    margin-left: auto;
  }

  .footer {
    width: 50%;
  }

  .pedido-total {
    position: fixed;
    right: 0;
    bottom: calc(112px + 0.75rem);
    left: 0;
    max-height: 75%;
    max-width: 48%;
    z-index: 1030;
    margin-left: auto;
    margin-right: auto;
    border: none;
  }
}
